/*====== Переменные с цветами ======*/
/*====== Подключение шрифтов =======*/
@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaRoman";
  src: url("../fonts/Helvetica/helveticaRoman.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica/HelveticaBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RalewayBlack";
  src: url("../fonts/RalewayBlack/RalewayBlack.eot");
  src: url("../fonts/RalewayBlack/RalewayBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBlack/RalewayBlack.woff") format("woff"), url("../fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*====== Переменные шрифтов ======*/
* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaLight";
}
input {
  outline: none;
}
ul {
  margin: 0px;
  padding: 0;
}
li {
  list-style: none;
  height: auto;
}
a {
  color: inherit;
}
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.custom-container {
  max-width: 1320px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.top-bar {
  background: #f9f9f9;
}
.wrap-logo {
  padding: 8px 15px;
}
.list-numbers {
  margin-left: -37px;
  padding-top: 6px;
}
.list-numbers li {
  height: 14px;
}
.list-numbers li .phone-number {
  color: #686868;
  font-family: "HelveticaLight";
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
}
.list-numbers li .phone-text {
  font-size: 9px;
  font-weight: 300;
  line-height: 1px;
  font-family: "HelveticaLight";
}
.wrap-top-search {
  background: #fff;
  height: 58px;
}
.search-inp {
  border: none;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.18);
  outline: none;
  padding: 6px 14px;
  min-width: 100%;
  margin-top: 13px;
}
.btn-search {
  border: none;
  margin-top: 13px;
  padding: 2px 22px;
  background: #96ca19;
  box-shadow: inset 0 -1px 1px rgba(119, 160, 19, 0.27), inset 0 2px 0 rgba(255, 255, 255, 0.27);
  background-image: linear-gradient(to top, #81ad17 0%, #abe61c 100%);
  font-size: 20px;
  border-right: 1px;
  color: #fff;
}
.like,
.icon-prof {
  background: #f9f9f9;
  border: 1px solid #eeeeee;
  display: block;
  float: left;
  color: #686868;
  min-height: 100%;
  border-top: none;
  border-bottom: none;
}
.icon-prof {
  padding: 10px 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.like {
  padding: 10px 9px;
  border-left: none;
}
.icon-prof:hover,
.like:hover {
  background: #fff;
}
.icon-prof:before,
.like:before {
  font-family: FontAwesome;
  color: #686868;
  font-weight: 900;
}
.icon-prof:before {
  content: "\f2be";
  font-size: 26px;
}
.like:before {
  content: "\f08a";
  font-size: 26px;
}
.basket {
  padding: 7px 0px 0 33px;
  float: left;
  display: block;
}
.money {
  font-family: "HelveticaLight";
  font-size: 20px ;
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  color: #686868;
}
.top-nav li,
.left-bar li {
  float: left;
}
.top-nav li a,
.left-bar li a {
  display: block;
  padding: 7px 9px 7px 9px;
  font-family: "HelveticaLight";
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.7px;
  position: relative;
  transition: all .3s;
}
.top-nav li a:after,
.left-bar li a:after {
  content: '';
  transition: all .3s;
  opacity: 0;
  height: 6px;
  width: 100%;
  background: #97cb12;
  position: absolute;
  bottom: -6px;
  border-radius: 0 0 2px 2px;
  left: 0;
}
.top-nav li a:hover:after,
.left-bar li a:hover:after {
  transition: all .3s;
  opacity: 1;
}
.top-nav li a:hover,
.left-bar li a:hover {
  box-shadow: inset 0 -1px 0 rgba(24, 57, 86, 0.18);
  background-image: linear-gradient(to top, #2d6ba0 0%, #357fbe 100%);
}
.active-page {
  box-shadow: inset 0 -1px 0 rgba(24, 57, 86, 0.18);
  background-image: linear-gradient(to top, #2d6ba0 0%, #357fbe 100%);
}
.wrap-head-phone {
  height: 58px;
  padding-right: 0;
  border-right: 15px solid #fff;
}
.wrap-right-bar {
  background: #f9f9f9;
  padding-left: 0;
  border-left: 15px solid #fff;
}
.top-nav {
  margin-left: -9px;
}
.left-bar {
  float: right;
  margin-right: -5px;
}
.nav {
  background: #3280bf;
}
.wrap-top-product {
  padding-top: 40px;
}
.carousel {
  height: 280px;
  width: 100%;
}
.carousel-indicators {
  bottom: 8px;
}
.carousel-indicators li,
.carousel-indicators .active {
  height: 3px;
  width: 47px;
  margin: 0 11px;
  background: #fff;
  opacity: .3;
  border: none;
}
.carousel-indicators .active {
  opacity: 1;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-control {
  background-image: none;
}
.carousel-control:hover {
  background-image: none;
}
.glyphicon-chevron-right:before {
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  background: url('../img/arrow-next.png') no-repeat;
}
.glyphicon-chevron-left:before {
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  background: url('../img/arrow-prev.png') no-repeat;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  margin-right: -53px;
  margin-top: -15px;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  margin-left: -36px;
  margin-top: -15px;
}
.wrap-slide {
  position: relative;
}
.wrap-about-slide {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 100%;
}
.wrap-about-slide .text-slide span {
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 23px;
  font-size: 50px;
  color: #fff;
  font-weight: 100;
  margin-top: 32px;
  display: inline-block;
}
.wrap-about-slide .price-slide span {
  padding: 3px 20px;
  background: rgba(88, 206, 94, 0.7);
  display: inline-block;
  font-size: 50px;
  letter-spacing: -2.3px;
  margin-left: 64px;
  margin-top: 21px;
  color: #fff;
}
.wrap-about-slide .buy-btn {
  padding: 5px 28.5px;
  display: inline-block;
  background: #f36c4e;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  position: absolute;
  right: 27px;
  bottom: 39px;
}
.product-day {
  height: 280px;
  min-width: 100%;
  border: 1px solid #d7d7d7;
  background: #fff;
}
.product-day .title-prod {
  height: 37px;
  background: #f0291f;
  padding: 0 17px 0 18px;
  color: #fff;
}
.product-day .title-prod .prod-name {
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
}
.product-day .title-prod .prod-head {
  font-family: "HelveticaRoman";
  color: #fff;
  text-align: right;
  margin: 0;
  display: inline-block;
  line-height: 37px;
  font-size: 23px;
  float: right;
  font-weight: 400px;
}
.product-day .img-prod {
  margin-left: 34px;
  margin-top: 24px;
}
.product-day .img-prod img {
  width: 250px;
}
.product-day .price-product-day {
  font-size: 36px;
  font-weight: 400;
  z-index: 12;
  position: absolute;
  right: 37px;
  bottom: 18px;
}
.wrap-title-shop {
  padding-top: 22px;
  text-align: center;
  padding-bottom: 64px;
}
.wrap-title-shop .site-title .name-shop {
  line-height: 168px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 130px;
  font-family: "RalewayBlack";
  letter-spacing: 0;
  color: #3280bf;
}
.wrap-title-shop .site-title .name-shop .shop-word {
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 130px;
  font-family: "RalewayBlack";
  letter-spacing: 0;
  color: #97cb12;
}
.wrap-title-shop .site-title:hover,
.wrap-title-shop .site-title:active {
  color: #3280bf;
}
.wrap-title-shop .tagline {
  font-size: 42px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #3280bf;
}
.wrap-title-shop .tagline span {
  color: #97cb12 !important;
}
.head-section {
  background: #fafafa;
  padding-top: 23px;
  padding-bottom: 58px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0px 4px 91px -25px rgba(0, 0, 0, 0.25);
}
.header-sect {
  font-family: "HelveticaRoman";
  font-size: 36px;
  letter-spacing: .3px;
  font-weight: 500;
  color: #3280bf;
}
.container-top-categories {
  padding-top: 17px ;
}
.item-top-prod {
  position: relative;
}
.item-top-prod .quantity-prod {
  position: absolute;
  padding: 5px 17px;
  background: rgba(255, 255, 255, 0.4);
  right: 0px;
  top: 17px;
  font-size: 14px;
  font-family: "HelveticaMedium";
}
.item-top-prod .link-prod-img {
  display: block;
  border: 1px solid #ebebeb;
  margin-bottom: 14px;
  font-weight: 900;
  height: 341px;
  background: #fff;
  transition: .3s;
}
.item-top-prod .link-prod-img:hover {
  border-top: 2px solid #93b9d8;
  border-left: 2px solid #93b9d8;
  border-bottom: 1px solid #357fbe;
  border-right: 1px solid #357fbe;
}
.item-top-prod .link-prod-img:hover + .link-categ-prod {
  color: #3280bf;
}
.item-top-prod .link-prod-img:hover + .quantity-prod {
  color: red;
}
.item-top-prod .link-categ-prod {
  font-size: 20px;
  color: #737373;
  transition: .3s;
}
.item-top-prod .link-categ-prod:hover {
  color: #3280bf;
}
.item-top-prod .link-categ-prod:hover + .link-prod-img {
  border-top: 2px solid #93b9d8;
  border-left: 2px solid #93b9d8;
  border-bottom: 1px solid #357fbe;
  border-right: 1px solid #357fbe;
}
.item-top-prod .link-categ-prod:hover + .quantity-prod {
  color: red;
}
.quant-prod-active {
  background: #3280bf !important;
  color: #fff !important;
}
.item-small-prod {
  position: relative;
}
.item-small-prod_popular {
  margin-top: 21px ;
}
.item-small-prod .link-small-prod-img {
  display: block;
  height: 221px;
  background: #fff;
  margin-top: 17px;
  margin-bottom: 12px;
  border: 1px solid #ebebeb;
  border-top: 2px solid #ebebeb;
  border-left: 2px solid #ebebeb;
  transition: .3s;
}
.item-small-prod .link-small-prod-img:hover + .link-small-prod {
  color: #3280bf;
}
.item-small-prod .link-small-prod-img:hover {
  border-top: 2px solid #93b9d8;
  border-left: 2px solid #93b9d8;
  border-bottom: 1px solid #3280bf;
  border-right: 1px solid #3280bf;
}
.item-small-prod .link-small-prod {
  font-size: 20px;
  color: #737373;
  transition: .3s;
}
.item-small-prod .link-small-prod_inner {
  font-size: 16px;
}
.item-small-prod .link-small-prod:hover {
  color: #3280bf;
}
.item-small-prod .link-small-prod:hover + .link-categ-prod + .link-small-prod-img {
  border-top: 2px solid #93b9d8;
  border-left: 2px solid #93b9d8;
  border-bottom: 1px solid #3280bf;
  border-right: 1px solid #3280bf;
}
.quantity-prod-small {
  position: absolute;
  right: 1px;
  z-index: 7;
  top: 5px;
  padding: 4px 4px 3px 11px;
  font-size: 14px;
  color: #5d5d5d;
  background: rgba(255, 255, 255, 0.5);
  font-family: "HelveticaRoman";
  font-weight: 500;
  letter-spacing: 1.6px;
  transition: 0.3s cubic-bezier(0.87, 0.09, 0.72, 0.6);
}
.hover-img {
  border-top: 2px solid #93b9d8 !important;
  border-left: 2px solid #93b9d8 !important;
  border-bottom: 1px solid #3280bf !important;
  border-right: 1px solid #3280bf !important;
}
.categories {
  padding-top: 79px;
  padding-bottom: 93px;
}
.categor-item {
  margin-bottom: 44px;
  position: relative;
}
.categor-item .img-categ-link {
  height: 160px;
  width: 240px;
  background: #ccc;
  display: block;
  margin-bottom: 7px;
}
.categor-item .img-categ-link:hover + .categor-link {
  color: #3280bf;
}
.categor-item .img-categ-link:hover {
  border-top: 2px solid #93b9d8;
  border-left: 2px solid #93b9d8;
  border-bottom: 1px solid #357fbe;
  border-right: 1px solid #357fbe;
}
.categor-link {
  font-size: 20px;
  color: #737373;
  transition: .3s;
}
.categor-link:hover {
  color: #3280bf;
}
.pre-footer {
  padding-bottom: 108px;
  background: #fff;
}
.min-name-shop {
  text-transform: uppercase;
  font-size: 26px;
}
.min-name-shop {
  color: #3280bf;
}
.min-name-shop .green-word {
  color: #97cb12;
}
.pre-footer-text {
  font-size: 15px;
  margin-top: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  font-family: "HelveticaRoman";
  color: #afafaf;
}
.pre-footer-text_inner {
  font-size: 15px;
  margin-top: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  font-family: "HelveticaRoman";
  color: #afafaf;
  margin-top: 5px;
}
.big-logo {
  display: block;
  margin-top: 13px;
  float: right;
}
.link-small_inner {
  font-size: 16px !important;
}
.prod-img_popular {
  margin-top: 16px !important;
  margin-bottom: 7px !important;
}
.img-categ-link-popular {
  margin-bottom: 7px;
}
.categor-link-popular {
  font-size: 16px !important;
}
.categor-link-popular:hover {
  color: #3280bf;
}
footer {
  padding-top: 41px;
  padding-bottom: 13px;
  background: #f9f9f9;
}
.footer-list {
  margin-top: -4px;
}
.footer-list li a {
  font-size: 20px;
  transition: .3s;
  color: #afafaf;
  line-height: 31px;
}
.footer-list li a:hover {
  color: #f0291f;
}
.footer-phone-list {
  margin-top: 10px;
}
.footer-phone-list li {
  line-height: 29px;
  color: #afafaf;
  font-size: 26px;
}
.footer-phone-list .footer-free-delivery {
  font-size: 12px;
  line-height: 1;
}
.footer-phone-list .footer-min-logo {
  margin-top: 14px;
}
.wrap-disp-text p {
  font-size: 16px;
  color: #afafaf;
  margin-bottom: 0;
  margin-top: 15px;
}
.form-dist {
  padding-top: 7px;
}
.form-dist .footer-inp {
  width: 63%;
  padding: 5px 3px;
  border: 1px solid #d7d7d7;
}
.form-dist .footer-sub {
  margin-top: 0;
  padding: 2px 10px;
  float: right;
}
.footer-about-text {
  font-size: 15px;
  color: #afafaf;
  line-height: 19.9px;
  margin-top: 26px;
}
.bank-cards {
  margin-top: 11px;
}
.bank-cards li {
  float: left;
  margin-right: 12px;
}
.bank-cards .footer-robo-logo {
  padding-top: 5px;
}
.social-links-list {
  margin-left: -33px;
  margin-top: 5px;
}
.social-links-list li {
  float: left;
  margin-right: 11px;
}
.social-links-list li .social-link {
  font-size: 32px;
  color: #afafaf;
  transition: .3s;
}
.social-links-list li .social-link:hover {
  color: #3280bf;
}
.social-links-list li:last-child {
  margin: 0;
}
.copy-text {
  margin-top: 23px;
}
.inner-title-shop {
  padding-top: 27px;
}
.bread-crumbs {
  padding: 18px 0 19px;
}
.bread-crumbs li {
  display: inline-block;
}
.bread-crumbs li a {
  color: #737373;
  font-size: 12px;
}
.bread-crumbs li a:after {
  content: '>';
  padding: 0 3px;
  font-weight: 700;
}
.bread-crumbs li:last-child a:after {
  display: none;
}
.popular-item {
  margin-bottom: 0;
  margin-top: 46px ;
}
.head-sec-inner {
  padding-bottom: 66px;
}
.wrap-catalog {
  padding-top: 77px;
  margin-bottom: 90px;
}
.wrap-catalog-list {
  border: 1px solid #ebebeb;
  margin-left: -15px;
  -webkit-box-shadow: 0px 6px 21px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 21px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 21px -6px rgba(0, 0, 0, 0.75);
  background: #fafafa;
  padding-bottom: 10px ;
}
.title-catalog {
  padding: 10px 0px 12px 15px;
}
.name-catalog-title {
  font-size: 28px;
  font-family: "HelveticaMedium";
  color: #3280bf;
  letter-spacing: -0.2px;
  font-weight: 500;
}
.left-list-catalog {
  margin-top: 13px;
}
.left-list-catalog li {
  display: block;
}
.left-list-catalog li .drop-btn {
  display: block;
  font-size: 20px;
  padding: 2px 0px 2px 13px;
  font-weight: 500;
  color: #737373;
  transition: .2s;
  text-decoration: none;
  cursor: pointer;
  line-height: 26px;
  border: 1px solid transparent;
}
.left-list-catalog li .drop-btn:hover {
  background: #3280bf;
  color: #fff;
  border: 1px solid #2f7ab6;
  border-radius: 1px;
  font-weight: 600;
  margin-right: -1px;
}
.drop-list {
  background: #fff;
  border: 1px solid #ebebeb;
  padding: 7px 0;
}
.drop-list li a {
  padding-left: 30px;
  border: none;
  color: #737373;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 25px;
  font-family: "HelveticaMedium";
}
.drop-list li a:hover {
  color: #3280bf;
  background: transparent;
  border: none;
}
.active-list {
  background: #3280bf;
  color: #fff !important;
  border: 1px solid #2f7ab6;
  border-radius: 3px;
  font-weight: 600 !important;
  margin-right: -1px;
  box-shadow: 0px 4px 12px -2px #000032;
}
.drop-list {
  border: none;
  padding: 0;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  -moz-transition: opacity 0.1s, max-height 0.3s linear;
  -ms-transition: opacity 0.1s, max-height 0.3s linear;
  transition: opacity 0.1s, max-height 0.3s linear;
}
.active-drop {
  border-bottom: 1px solid #ebebeb;
  padding: 7px 0 ;
  transition: opacity .3s ;
  opacity: 1;
  -moz-transition: opacity 0.3s, max-height 0.5s linear;
  -ms-transition: opacity 0.3s, max-height 0.5s linear;
  transition: opacity 0.3s, max-height 0.5s linear;
  display: block;
  max-height: 500px;
}
.title-pre-footer {
  font-family: "HelveticaRoman";
  font-size: 22px ;
  color: #3280bf;
  font-weight: 500;
}
.footer {
  height: 500px;
}
/*-------------------- карточка товара-----------------*/
.bread-rumbs-wrap {
  border-bottom: 1px solid #d7d7d7;
}
.inner-bread-crumbs {
  float: right;
  padding: 14px 0 5px;
}
.card-product-container {
  padding-top: 41px;
  padding-bottom: 41px;
}
.list-desc-prod li {
  display: block;
}
.list-desc-prod .wrap-articul {
  margin-top: 4px;
}
.list-desc-prod .wrap-dop-info {
  margin-top: 4px;
  width: 250px;
  color: #afafaf;
  line-height: 18px;
}
.name-product {
  font-size: 26px;
  line-height: 30px;
  color: #3280bf;
}
.articul {
  font-size: 16px;
}
.price-block {
  margin-top: 4px;
}
.price-block .current-price {
  color: #f0291f;
  font-weight: 600;
  font-size: 40px;
}
.price-block .old-price {
  font-size: 30px;
  margin-left: 1px;
  text-decoration: line-through;
  display: inline-block;
  position: relative;
  bottom: 7px;
  margin-left: 17px;
}
.options-prod {
  border: 1px solid #ebebeb;
  padding-left: 8px;
  position: relative;
  margin-top: 27px;
  padding-bottom: 15px;
}
.add-basket-btn {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.4px;
  padding: 0px 13px 4px 12px;
  margin-top: 22px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "HelveticaMedium";
  margin-left: 3px;
  background: #a3dc14;
}
.add-basket-btn .text-btn {
  position: relative;
  top: -2px;
}
.add-basket-btn:after {
  content: '\f07a';
  font-family: FontAwesome;
  font-size: 30px;
  padding-left: 7px;
}
.add-basket-btn:hover {
  color: #fff;
}
.select-item {
  margin-top: 9px;
}
.wrap-list-option {
  display: inline-block;
  background: #fff;
}
.btn-option {
  border: 1px solid #ebebeb;
  padding: 4px 11px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 28px;
  width: 227px;
  font-size: 16px;
  color: #737373;
  font-weight: 600;
  border-radius: 3px;
}
.btn-option::after {
  content: '\f107';
  font-family: FontAwesome;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px ;
}
.btn-option::before {
  content: '';
  height: 27px;
  position: absolute;
  width: 1px;
  background: #ebebeb;
  right: 27px;
  top: 0;
}
.drop-option-list {
  overflow: hidden;
  background: #fff;
  position: relative;
  display: block;
  max-height: 0;
  width: 227px;
  transition: 1s linear;
  font-size: 16px;
  position: absolute;
  z-index: 5;
}
.drop-option-list li {
  padding: 6px 11px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.drop-option-list li:hover {
  background: #3280bf;
  color: #fff;
}
.open-options {
  display: block;
  max-height: 600px;
}
.add-item-prod,
.del-item-prod {
  font-size: 21px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: -2px;
}
.add-item-prod {
  padding-right: 5px;
}
.del-item-prod {
  padding-left: 5px;
}
.wrap-quant-prod {
  border: 1px solid #ebebeb;
  display: inline-block;
  border-radius: 3px;
  height: 28px;
  position: relative;
  top: 1px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #afafaf;
  margin-left: 10px;
}
.wrap-quant-prod .quant-inp {
  width: 30px;
  border: none;
  text-align: center;
  background: transparent;
  font-size: 19px;
  font-weight: 600;
  outline: none;
  color: #737373;
}
.like-product {
  font-size: 26px;
  margin-left: 11px;
  transition: .3s;
  position: relative;
  cursor: pointer;
  color: #afafaf;
  border: 1px solid #afafaf;
  padding: 5px;
  border-radius: 5px;
}
.like-product .fa-heart-o {
  position: relative;
}
.like-product:hover {
  color: #f0291f;
  border-color: #f0291f;
}
.active-like {
  color: #f0291f !important;
  border-color: #f0291f !important;
}
.table-info {
  font-size: 14px;
  color: #737373;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 15px;
}
.all-summ,
.all-summ-text {
  display: inline-block;
}
.all-summ-text {
  margin-top: 9px;
  line-height: 18px;
}
.all-summ {
  font-size: 22px;
  margin-left: 42px;
}
.wrap-def-text {
  margin-top: 33px;
  margin-left: 14px;
  line-height: 12px;
}
.wrap-def-text .def-text {
  font-size: 11px;
}
.list-img-slide {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 450px;
  margin-right: -22px;
}
.list-img-slide li {
  width: 150px;
  height: 150px;
  background: #ccc;
  border: 1px solid black;
}
.about-product {
  background: #f9f9f9;
  padding-bottom: 52px;
}
.wrap-name-prod {
  padding: 33px 0;
}
.name-disc-product {
  font-family: "HelveticaRoman";
  font-size: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.wrap-table-char {
  border: 1px solid #d7d7d7;
  padding-top: 10px;
  margin-top: -10px;
  padding-bottom: 30px;
}
.wrap-text-desc-product .desc-product,
.wrap-text-desc-product .char-name {
  font-size: 16px;
  font-family: "HelveticaRoman";
  color: #737373;
  font-weight: 600;
}
.wrap-text-desc-product .char-name {
  margin-left: 13px;
  letter-spacing: 0.3px;
}
.wrap-text-desc {
  line-height: 18px;
  margin-top: 11px;
}
.wrap-text-desc p {
  color: 15px;
  color: #737373;
  font-weight: 600;
}
.table-chars {
  margin-top: 9px;
  line-height: 16px;
  font-size: 12px;
  color: #737373;
}
.table-chars tr {
  margin-top: 8px;
  letter-spacing: -0.2px;
}
.table-chars tr td:nth-child(odd) {
  height: 1px;
  width: 193px;
  padding-left: 13px;
}
.table-chars tr td:nth-child(even) {
  height: 1px;
  width: 220px;
}
.other-product {
  padding-top: 39px;
  padding-bottom: 124px;
}
.other-product-title {
  letter-spacing: -0.4px;
}
.mini-card-prod {
  margin-top: 14px;
  margin-left: -7px;
}
.mini-card-prod .img-min-prod {
  height: 155px;
  width: 100%;
  background: #cdf;
}
.mini-card-prod .wrap-about-min-prod {
  padding-left: 23px;
  line-height: 14px;
  margin-top: 8px;
}
.mini-card-prod .wrap-about-min-prod .mini-link-prod {
  font-size: 12px;
  color: #3280bf;
}
.mini-card-prod .wrap-mini-article {
  margin-top: 3px;
}
.mini-card-prod .wrap-mini-article .mini-card-article {
  font-size: 10px;
}
.mini-card-prod .warpe-delivery-date .delivery-date {
  font-size: 10px;
  letter-spacing: 0.8px;
  color: #afafaf;
}
.mini-card-prod .wrap-price-mini-card {
  letter-spacing: 1px;
}
.mini-card-prod .wrap-price-mini-card .wrap-card-price {
  display: inline-block;
  padding-top: 15px;
}
.mini-card-prod .wrap-price-mini-card .wrap-card-price .mini-card-price {
  color: #3280bf;
  font-weight: 600;
}
.mini-bay-card {
  display: inline-block;
  background: #a3dc14;
  padding: 5px 7px;
  margin-left: 20px;
  border-radius: 4px;
  color: #fff;
}
.mini-bay-card::after {
  content: "\f07a";
  font-family: FontAwesome;
  font-size: 23px;
  position: relative;
  top: 2px;
}
.mini-bay-card:hover {
  color: #fff;
}
.wrap-bottom-bar-min-cart {
  margin-top: 5px;
}
.wrap-bottom-bar-min-cart .like-product {
  font-size: 20px;
  margin-left: 46px;
  top: 5px;
  border: none;
  padding: 0;
}
.quant-min-prod-card {
  height: 18px;
  margin-left: 0;
  width: 47px;
}
.quant-min-prod-card .del-item-prod,
.quant-min-prod-card .add-item-prod {
  font-size: 10px;
  top: 1px;
}
.quant-min-prod-card .quant-inp {
  font-size: 11px;
  width: 21px;
  top: 2px;
  position: relative;
  left: -2px;
}
.new-prod-shares,
.sale-prod-shares,
.best-prod-shares {
  position: absolute;
  top: 30px;
  left: 4px;
  border-radius: 2px;
  padding: 0px 10px;
  background: #3280bf;
  line-height: 21px;
  box-shadow: 0px 1px 3px 0px rgba(53, 127, 190, 0.75);
  color: #fff;
}
.new-prod-shares .text-shares,
.sale-prod-shares .text-shares,
.best-prod-shares .text-shares {
  font-family: "MyriadProBold";
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  top: 2px;
}
.sale-prod-shares {
  box-shadow: 0px 1px 10px 0px rgba(240, 41, 31, 0.75);
  background: #f0291f;
}
.best-prod-shares {
  padding: 0px 6px;
  background: #97cb12;
  box-shadow: 0px 1px 10px 0px #97cb12;
}
.best-prod-shares .min-star {
  font-size: 12px;
}
.time-bay-products {
  padding-top: 44px;
}
.wrap-time-dey-text {
  letter-spacing: -2.1px;
}
.wrap-time-dey-text .time-bay-text {
  font-family: "HelveticaMedium";
  font-size: 36px;
  color: #3280bf;
  font-weight: 600;
}
.wrap-desc-card-product {
  padding-left: 17px;
  padding-top: 12px;
  padding-bottom: 14px;
}
.big-card-product {
  margin-top: 16px;
  box-shadow: 4px 3px 29px -6px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.big-card-product .pic-product {
  height: 200px;
  background: #ccf;
}
.big-card-product .sale-block {
  padding-bottom: 4px;
  width: 93%;
  border-bottom: 1px solid #ebebeb;
}
.big-card-product .sale-block .size-sale {
  color: #f0291f;
  font-size: 16px;
  font-family: "HelveticaRoman";
}
.big-card-product .wrap-name-product {
  padding-top: 10px;
  line-height: 18px;
}
.big-card-product .wrap-name-product .name-prod {
  font-size: 14px;
  font-family: "HelveticaRoman";
  color: #737373;
}
.big-card-product .price-product-card {
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
}
.big-card-product .price-product-card .old-price-card {
  text-decoration: line-through;
}
.big-card-product .price-product-card .new-price-card {
  color: #f0291f;
  margin-left: 17px;
}
.stock-block {
  position: relative;
  top: -7px;
  right: 16px;
}
.stock-dey-prod {
  display: inline-block;
  padding: 3px 7px;
  background: #f0291f;
  position: relative;
}
.stock-dey-prod ::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 3px solid #9c130a;
  border-left: 16px solid transparent;
  left: 0px;
  bottom: -3px;
}
.stock-dey-prod .text-stock {
  color: #fff;
  font-size: 16px;
}
.product-day-email {
  padding-top: 44px;
  line-height: 20px;
  padding-bottom: 15px;
}
.product-day-email .one-part-text,
.product-day-email .two-part-text {
  color: #afafaf;
  font-size: 16px;
  font-family: "HelveticaRoman";
}
.product-day-email .one-part-text .link-product-day,
.product-day-email .two-part-text .link-product-day {
  color: #f0291f;
}
.product-day-email .two-part-text {
  margin-top: 17px;
}
.form-email-product-day {
  margin-top: 36px;
}
.get-email-prod-day {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
}
.inp-get-email {
  width: 100%;
  background: #fff;
  padding: 3px 3px;
}
.inp-get-email:focus {
  height: 30px;
  border: 1px solid #3280bf;
  box-shadow: 0px 0px 5px 1px rgba(53, 127, 190, 0.4);
}
.inner-catalog {
  padding-top: 17px;
  margin-bottom: 18px;
}
.list-item-catalog {
  background: #f9f9f9;
}
.list-item-catalog tr {
  display: block;
  transition: .3s;
}
.list-item-catalog tr:hover {
  box-shadow: 0px 1px 5px 1px rgba(53, 127, 190, 0.4);
}
.list-item-catalog tr:hover td .min-max-price {
  color: #3280bf;
}
.list-item-catalog tr:hover td {
  border: 1px solid transparent;
  background: #fff;
  border-top: 1px solid #3280bf;
  border-bottom: 1px solid ;
  color: #3280bf;
}
.list-item-catalog tr:hover td:first-child {
  border-left: 1px solid #3280bf;
}
.list-item-catalog tr:hover td:last-child {
  border-right: 1px solid #3280bf;
}
.list-item-catalog td {
  transition: .3s;
  height: 77px;
  text-align: center;
  border: 1px solid #ebebeb;
}
.list-item-catalog .img-category {
  width: 81px;
}
.list-item-catalog .name-category {
  width: 265px;
  font-size: 20px;
  color: #5d5d5d;
}
.list-item-catalog .quant-prod-category {
  width: 114px;
  font-size: 20px;
  color: #5d5d5d;
}
.list-item-catalog .price-category {
  width: 320px;
}
.min-max-price {
  font-family: HelvB;
  font-size: 20px;
  font-weight: 600;
  color: #5d5d5d;
}
.min-max-price .min-price,
.min-max-price .max-price {
  font-weight: 600;
  font-family: HelvB;
}
.list-items-category {
  padding-top: 11px;
}
.link-item-ateg-prod {
  display: table-column;
}
.inner-catalog-title {
  font-size: 24px;
}
.arrow-catalog {
  font-size: 28px;
  position: relative;
  top: 3px;
  left: 5px;
}
.price-filter {
  padding-top: 13px;
  padding-left: 19px;
  font-size: 18px;
  background: #f9f9f9;
  padding-bottom: 40px;
  border: 1px solid transparent;
}
.range-price {
  text-align: center;
  display: inline-block;
  width: 87px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #fff;
}
.range-price:focus {
  border: 1px solid #3280bf;
  box-shadow: 0px 0px 5px 1px rgba(53, 127, 190, 0.4);
}
.input-one {
  margin-right: 3px ;
}
.input-two {
  margin-left: 3px;
  margin-right: 3px;
}
.label-filter {
  display: block;
  cursor: pointer;
  font-size: 16px;
  color: #737373;
}
.filter-type-2 {
  margin-top: 16px;
  padding-bottom: 8px;
}
.type-checkbox {
  display: block;
  font-size: 12px;
  cursor: pointer;
}
.type-checkbox input {
  display: none;
}
.type-checkbox .check {
  display: inline-block;
  height: 17px;
  width: 17px;
  background: #fff;
  border: 1px solid #d7d7d7;
  position: relative;
  top: 3px;
}
.type-checkbox input:checked + .check {
  background: #3280bf;
  transition: .3s;
}
.teg-check {
  margin-left: 6px;
  font-size: 12px ;
  font-weight: 500;
  color: #5d5d5d;
}
.price-filter {
  transition: .3s;
}
.price-filter:hover {
  box-shadow: 0px 6px 17px -8px rgba(0, 0, 0, 0.75);
}
.filter-like {
  border: none;
  font-size: 19px;
  margin-left: 14px;
}
.filter-price-range {
  display: inline-block;
  margin-left: 12px;
  position: relative;
  line-height: 1px;
}
.filter-price-range label {
  margin-bottom: 0;
  top: 3px;
  position: relative;
}
.filter-price-range label input {
  display: none;
}
.filter-price-range label span {
  cursor: pointer;
  font-size: 26px;
}
.filter-price-range label input:checked + span {
  color: #3280bf;
}
.bars {
  position: relative;
  top: -1px;
}
.wrap-filter-prod {
  background: #f9f9f9;
  color: #e0e0e0;
  padding: 1px 0 ;
}
.search-filter {
  color: greyBlock;
  display: inline-block;
  margin-left: 5px;
  top: -3px;
  position: relative;
  margin-left: 24px;
  font-size: 13px;
  color: black;
}
.search-filter .search-prod {
  height: 17px;
  width: 171px;
}
.search-filter .search-submit {
  position: relative;
  top: 1px;
  background: #97cb12;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 0px 14px;
  margin-left: 4px;
}
.view {
  display: inline-block;
  float: right;
  margin-right: 12px;
  margin-top: 6px;
}
.view label {
  font-size: 20px;
  cursor: pointer;
}
.view label input {
  display: none;
}
.view label input:checked + span {
  color: black;
}
.quant-prod-display {
  float: right;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.quant-prod-display label {
  padding: 0 2px;
}
.quant-prod-display label input {
  display: none;
}
.quant-prod-display label input:checked + span {
  color: black;
  font-weight: 900;
}
.quant-prod-display label span {
  cursor: pointer;
  color: #5d5d5d;
  font-weight: 500;
}
.item-prod-table-list {
  background: #fff;
}
.img-prod-item {
  height: 119px;
  position: relative;
}
.name-product-item {
  max-width: 288px;
  padding-top: 11px;
  padding-left: 30px;
  letter-spacing: 1px;
}
.name-product-item .link-name-prod-item {
  color: #3280bf;
  font-family: "HelveticaRoman";
  font-weight: 500;
}
.wrap-articil-prod {
  position: relative;
  top: -3px;
  letter-spacing: 0px;
}
.wrap-articil-prod .articul-prod {
  font-size: 10px;
  color: #b3b3b3;
}
.wrap-price-item {
  display: inline-block;
  margin-left: 6px;
  float: right;
}
.wrap-price-item .price-item {
  font-size: 22px;
  color: #3280bf;
  font-weight: 600;
  line-height: 1px;
}
.wrap-item-quntum {
  display: block;
  padding-top: 38px;
}
.wrap-delivery {
  margin-left: 15px;
  margin-top: 4px;
}
.wrap-delivery .delivery-time {
  font-size: 10px;
  color: #b3b3b3;
}
.like-item-prod {
  border: none;
  font-size: 20px;
  margin-left: 41px;
}
.wrap-basket {
  padding-bottom: 106px;
}
.card-bay-item {
  padding: 0px 11px;
  margin-left: 12px;
  border-radius: 4px;
  color: #fff;
}
.card-bay-item::after {
  font-size: 29px;
  position: relative;
  top: -1px;
}
.item-product-list {
  border-radius: 5px;
  transition: .3s;
}
.item-product-list:hover {
  box-shadow: 0px 3px 15px -7px rgba(0, 0, 0, 0.75);
}
.buy-block {
  padding-right: 34px;
}
.shares-block-item-list .new-prod-shares,
.shares-block-item-list .sale-prod-shares,
.shares-block-item-list .best-prod-shares {
  top: 11px;
  left: -8px;
}
.my-basket {
  padding-top: 42px;
}
.name-basket {
  font-size: 26px;
  color: #3280bf;
  letter-spacing: 0.3px;
  margin-left: 15px;
}
.basket-bonus {
  background: linear-gradient(90deg, #f9f9f9 70%, #3280bf 30%);
}
.wrap-basket-bonus {
  padding-top: 11px;
  padding-bottom: 6px;
}
.wrap-basket-bonus .text-basket-bonus {
  font-size: 12px;
  margin-left: 15px;
  letter-spacing: 0px;
  color: #5d5d5d;
}
.title-about-basket {
  margin-left: -20px;
  padding-left: 15px;
  padding: 11px 0px 6px 15px;
  border-radius: 3px 0 0 3px;
}
.title-about-basket .title-text {
  color: #fff;
  font-family: "HelveticaRoman";
  font-size: 14px;
}
.about-basket-2 {
  padding: 11px 17px;
  margin-top: 24px;
  line-height: 17px;
  letter-spacing: 0.2px;
}
.about-basket-2 {
  border-radius: 6px;
  padding: 10px 16px;
  margin-top: 25px;
  border: 2px solid #3280bf;
  letter-spacing: 0px;
}
.about-basket-2 .text-about-basket-2 {
  font-size: 14px;
  font-family: "HelveticaRoman";
  color: #3280bf;
}
.wrap-deliver-setting {
  margin-top: 19px;
  box-shadow: 3px 2px 13px -5px rgba(0, 0, 0, 0.75);
  padding-top: 26px;
  padding-bottom: 21px;
  background: #fff;
}
.qunt-summ-prod {
  padding-left: 22px;
  line-height: 9px;
  letter-spacing: 0.4px;
}
.all-prod-basket {
  font-weight: 600;
  margin-bottom: 0;
}
.all-prod-basket .qunt-prod-basket {
  font-weight: 500;
}
.promo-code-basket {
  margin-left: 19px;
  margin-top: 13px;
}
.promo-code-basket input {
  font-size: 14px;
  border: none;
  padding-left: 4px;
  padding: 2px 8px;
  background: #f9f9f9;
  width: 92%;
}
.wrap-text-deliver {
  width: 83px;
  margin-top: 7px;
  line-height: 18px;
  color: #737373;
}
.wrap-text-deliver .text-deliver {
  font-size: 14px;
}
.wrap-text-deliver .price-delivery {
  line-height: 18px;
  font-family: "HelveticaMedium";
}
.choice-delivery {
  margin-top: 23px;
  margin-left: 20px;
  padding-bottom: 7px;
  position: relative;
}
.choice-delivery::after {
  content: '';
  display: block;
  height: 1px;
  width: 92%;
  background: #3280bf;
  bottom: 0;
  position: absolute;
}
.deliver-item-2 {
  float: right;
  margin-right: 18px;
}
.deliver-item-2 .wrap-text-deliver {
  width: 85px;
}
.img-deliver {
  background: url(../img/deliv.png) no-repeat;
  height: 44px;
  width: 64px;
  display: block;
  cursor: pointer;
}
.img-deliver-2 {
  display: block;
  background: url(../img/mydeliv.png) no-repeat;
  height: 44px;
  width: 48px;
  cursor: pointer;
  margin: 0 auto;
}
.deliver-item {
  cursor: pointer;
}
.deliver-item input {
  display: none;
}
.deliver-item input:checked + .img-deliver {
  background: url(../img/delev-active.png);
}
.deliver-item input:checked + .img-deliver-2 {
  background: url(../img/mydeliv-active.png);
}
.active-deliver {
  color: #3280bf;
}
.wrap-finish-price {
  margin-left: 19px;
  padding-top: 8px;
  letter-spacing: -0.4px;
  color: #3280bf;
  font-family: "HelveticaMedium";
}
.wrap-finish-price .text-finish-price {
  font-size: 14px;
}
.wrap-finish-price .finish-price {
  font-size: 26px ;
  line-height: 26px;
  font-weight: 500;
}
.buy-btn-options {
  padding-top: 16px;
  font-weight: 600;
}
.buy-btn-options .buy-btn {
  width: 100%;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
}
.buy-btn-options .quick-buy {
  background: #f9f9f9;
  color: #5d5d5d;
  margin-top: 16px;
}
.wrap-quick-buy-form {
  height: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 88;
  opacity: 0;
}
.wrap-quick-buy-form .quick-buy-form {
  border-radius: 5px;
  position: fixed;
  transition: .3s;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  padding: 24px 28px 25px 28px;
}
.quick-buy-label {
  margin-bottom: 0;
  margin-left: 7px;
  font-weight: 500;
}
.close-window {
  font-size: 20px;
  cursor: pointer;
  color: #afafaf;
  position: absolute;
  right: 14px;
  top: 10px;
}
.input-quick-form {
  display: block;
  width: 332px;
  font-size: 18px;
  padding: 4px 17px;
  margin-top: 9px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}
.phone-number-quick {
  margin-top: 14px;
}
.open-modal {
  height: 100%;
  opacity: 1;
  display: block;
}
.open-window {
  top: 30% !important;
  opacity: 1;
  display: block;
}
.quick-form-btn {
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  padding: 7px 36px;
  cursor: pointer;
  float: right;
  margin-top: 21px;
}
.wrap-agreement {
  max-width: 332px;
  color: #737373;
  margin-top: 30px;
  padding: 0 7px;
  line-height: 11px;
}
.wrap-agreement .agreement {
  font-size: 10px;
}
.basket-table {
  margin-top: 42px;
}
.basket-table .notenough-money {
  border: 1px solid #f0291f;
}
.basket-qunt-item {
  padding-left: 88px;
  padding-right: 78px;
}
.quant-price .wrap-quant-prod {
  float: left;
}
.quant-price .wrap-delivery {
  margin-left: 15px;
  clear: both;
}
.quant-price .wrap-price-item {
  margin-top: 11px;
}
.notenough-money-window {
  margin-top: 20px;
  margin-left: 20px;
}
.notenough-money-window .text-notmaney {
  color: #f0291f;
  font-family: "HelveticaRoman";
  font-size: 16px;
  margin-bottom: 0;
}
.ordering {
  padding-top: 23px;
  padding-bottom: 125px;
}
.ordiring-step-two {
  background: #f9f9f9;
}
.wrap-order-input {
  margin: 0 15px;
  box-shadow: 0 1px 4px rgba(46, 46, 46, 0.25);
  padding-top: 10px;
  background: #fff;
}
.name-order {
  color: #3280bf;
  font-size: 16px;
  font-family: "HelveticaRoman";
}
.wrap-order-date .order-input {
  min-width: 100%;
  background: #f9f9f9;
  border: none;
  margin-top: 7px;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid transparent;
  font-size: 14px;
}
.wrap-order-date .order-input:focus {
  border: 1px solid #3280bf;
  box-shadow: 0px 0px 5px 1px rgba(53, 127, 190, 0.4);
}
.order-textarea {
  height: 87px;
  padding: 10px;
  resize: none;
  outline: none;
}
.payment-method {
  padding-top: 33px;
  padding-left: 17px;
}
.choice-method {
  display: block;
  margin-bottom: 9px;
}
.choice-method input {
  display: none;
}
.choice-method input:checked + .pic-methode {
  background: #fafafa;
  border-color: #3280bf;
  box-shadow: 0px 0px 5px 1px rgba(53, 127, 190, 0.4);
}
.choice-method input:checked + .methode-buy-text {
  color: #3280bf;
}
.choice-method .methode-buy-text {
  display: table-cell;
  padding-left: 28px;
  padding-top: 5px;
  letter-spacing: 0.2px;
  line-height: 17px;
}
.choice-method .methode-buy-text .text-method {
  font-family: "HelveticaRoman";
  font-weight: 100;
  color: #737373;
}
.pic-methode {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 59px;
  width: 150px;
  border: 2px solid #f9f9f9;
  border-radius: 5px;
  cursor: pointer;
}
.delevery-step-two {
  margin-top: 0;
  padding-top: 35px;
  box-shadow: none;
}
.order-basket-text {
  margin-top: 19px;
  border-width: 3px;
  padding: 13px 16px;
}
.order-basket-btn {
  width: 100%;
  margin-top: 19px;
  font-weight: 900;
  font-size: 17px;
  padding: 5px 37px;
  border-radius: 3px;
}
.test {
  background: blue;
}
.test2 {
  background: #ccc;
}
.thank-buy {
  padding-top: 61px;
  padding-bottom: 63px;
}
.thank-buy-text {
  font-family: "HelveticaRoman";
  font-size: 26px;
  color: #3280bf;
}
.wrap-about-step-3 {
  color: #3280bf;
  font-family: "HelveticaRoman";
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 9px;
  line-height: 24px;
  font-weight: 600;
}
.wrap-about-step-3 .about-text-step-3 {
  margin-bottom: 0;
}
.about-contacts {
  color: #fff;
  font-size: 16px;
  padding-bottom: 22px;
  background: rgba(0, 0, 0, 0.6);
}
.wrap-contact {
  background: url(../img/bg-contact.png);
  height: 571px;
  width: 100%;
  background-size: cover;
}
.wrap-contact .container-contacts {
  padding-top: 41px;
}
.text-contact {
  font-size: 60px;
  font-family: "HelveticaUltraLight";
  color: #fff;
  margin-left: -3px;
}
.wrap-head-text-contact {
  padding: 4px 16px;
  font-size: 16px;
  color: #fff;
  background: rgba(50, 128, 191, 0.7);
}
.contact-address {
  padding-left: 16px;
  padding-top: 9px;
}
.contact-address .pickup .text-pickup {
  font-size: 16px;
}
.contact-address .address {
  line-height: 10px;
}
.contact-address .address .text-address {
  font-size: 11px;
}
.contact-address .time-work {
  margin-top: 8px;
}
.contact-address .time-work .clock {
  font-size: 28px;
}
.contact-address .time-work .time-work-text {
  position: relative;
  top: -6px;
  left: 10px;
}
.phone-number {
  font-size: 26px;
  margin-top: 3px;
}
.phone-number .phone-contact {
  font-size: 22px;
  position: relative;
  top: -2px;
  left: 5px;
}
.phone-number .phone-icon {
  font-size: 26px;
}
.phone-number-contacts {
  margin-top: -3px;
}
.deliv-contact {
  font-size: 10px;
  float: right;
  margin-top: -9px;
  margin-right: 28px;
}
.about-contact {
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px 0px 7px;
  margin-top: -61px;
}
.office-company-title {
  font-size: 16px;
}
.office-company {
  font-size: 11px;
}
.time-work-title-2 {
  margin-left: 5px;
  font-size: 16px;
}
.time-work-text-2 {
  font-size: 16px;
  margin-left: 32px;
}
.clock-bottom {
  font-size: 20px;
  padding-right: 8px;
}
.email-contact {
  font-size: 16px;
}
.wrap-desc-contact {
  font-size: 8px;
  line-height: 11px;
}
@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}
